---
import "@fontsource-variable/jetbrains-mono";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/vnd.microsoft.icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>janheini</title>
  </head>
  <body class="flex h-screen w-screen flex-col justify-center bg-bg text-fg">
    <h1 class="self-center">janheini</h1>
  </body>
</html>
